body { 	font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold; color: #003399; text-align: center; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 5px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;}
#figuraCapa1 {float:left; margin: 0px; padding: 0px; border: 0px }
#figuraCapa2 {margin: 0px; padding: 0px; border: 0px }
#figuraCapa3 {margin: 0px; padding: 0px; border: 0px }
img {margin: 0px; padding: 0px; border: 0px }
a {margin: 0px; padding: 0px; border: 0px }

